$fds-black-alpha-05 :rgba(0, 0, 0, 0.05);
$fds-black-alpha-10 :rgba(0, 0, 0, 0.1);
$fds-black-alpha-15 :rgba(0, 0, 0, 0.15);
$fds-black-alpha-20 :rgba(0, 0, 0, 0.2);
$fds-black-alpha-30 :rgba(0, 0, 0, 0.3);
$fds-black-alpha-40 :rgba(0, 0, 0, 0.4);
$fds-black-alpha-50 :rgba(0, 0, 0, 0.5);
$fds-black-alpha-60 :rgba(0, 0, 0, 0.6);
$fds-black-alpha-80 :rgba(0, 0, 0, 0.8);
$fds-gray-00:#F5F6F7;
$fds-gray-05:#F2F3F5;
$fds-gray-10:#EBEDF0;
$fds-gray-20:#DADDE1;
$fds-gray-25:#CCD0D5;
$fds-gray-30:#BEC3C9;
$fds-gray-45:#8D949E;
$fds-gray-70:#606770;
$fds-gray-80:#444950;
$fds-gray-90:#303338;
$fds-gray-100:#1C1E21;

$accsetup-red : #c12512;

$bg-body:$fds-gray-100;
$text-primary:$fds-gray-05;
$bg-header:$fds-gray-90;
$accsetup-accent : $accsetup-red;
$bg-transparent : $fds-black-alpha-15;
$bg-input-setup : $fds-gray-100;
$bg-comment : $fds-gray-20


