<header>
  <div class="container">
    <div class="row">
      <div class="col-3 logo">
        <img src="assets/images/logo_accsetup_280x80px.png" alt="Logo A C C setup" />
      </div>
      <div class="col d-flex align-items-center justify-content-center"><h2>SESSION_NAME</h2></div>
      <div class="col-1 d-flex align-items-center justify-content-center"><a href="#">Home</a></div>
    </div>
  </div>
</header>
<body>
  <div class="page">
      <router-outlet></router-outlet>
  </div>

</body>
<footer>

</footer>
<!-- <h1>
  {{ title }}
</h1>

<p>
  {{getZuperTitle()}}
</p>

<div>
  <button (click)="changeTitle()" [hidden]="clicked">
    oui
  </button>
</div>

<div *ngIf="!title; else haveTitle">
  <p>y a plus de titre</p>
  <p>oui</p>
</div>

<ng-template #haveTitle>
  <p>y a un titre</p>
</ng-template>

<ul>
  <li *ngFor="let firstName of array">
    {{ firstName }}
  </li>
</ul> -->
