<div class="section container  ">
  <div class="session-list row ">
    <div class="col-lg-9  px-0">
      <div class="container-nav d-flex  align-items-center bg-black">
        <div class="red-r-border btn-nav-setup ">
          SESSIONS
        </div>
        <div class="btn-nav-setup ">
          NEW
        </div>
        <div class="btn-nav-setup ">
          MODIFY
        </div>
        <div class="btn-nav-setup ">
          DUPLICATE
        </div>
        <div class="btn-nav-setup ">
         SAVE
        </div>
      </div>
      <div class="form-setup-cont row m-0 bg-tr">
        <!-- setup-groupe -->

        <div class=" col-lg-5 mt-2 bg-tr"> <!-- colonne 1 left -->
          <div class="bg-tr bd-with">
            <div class="d-flex justify-content-center pt-1 bg-black">
              <h6>SESSIONS</h6>
            </div>
            <div class="column-list scroller m-0">
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>SESSION 01 - 01/01/2022</div>
                <div>Title SESSION 01</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>SESSION 01 - 01/01/2022</div>
                <div>Title SESSION 01</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>SESSION 01 - 01/01/2022</div>
                <div>Title SESSION 01</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>SESSION 01 - 01/01/2022</div>
                <div>Title SESSION 01</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>SESSION 01 - 01/01/2022</div>
                <div>Title SESSION 01</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>SESSION 01 - 01/01/2022</div>
                <div>Title SESSION 01</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>SESSION 01 - 01/01/2022</div>
                <div>Title SESSION 01</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>SESSION 01 - 01/01/2022</div>
                <div>Title SESSION 01</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>SESSION 01 - 01/01/2022</div>
                <div>Title SESSION 01</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>SESSION 01 - 01/01/2022</div>
                <div>Title SESSION 01</div>
              </div>
            </div>

          </div>
        </div> <!-- colonne 1 left -->
        <div class=" col-lg-7 mt-2 bg-tr"> <!-- Colonne 2 right -->
          <div class="bg-tr bd-with">
            <div class="d-flex justify-content-center pt-1 bg-black">
              <h6>SETUPS RESUME</h6>
            </div>
            <div class="column-list scroller m-0">
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>- SETUP 01 -</div>
                <div>PSI => FL: 26.2 FR: 27.2 RL: 26.8 RR: 26.8 </div>
                <div>Toe => FL: -0.03 FR: -0.03 RL: 0.03 RR: 0.03 </div>
                <div>Camber => FL: -3.4 FR: -3.4 RL: -3.4 RR: -3.4 </div>
                <div>Caster => FL: 12.7 FR: 12.7</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>- SETUP 02 -</div>
                <div>PSI => FL: 26.2 FR: 27.2 RL: 26.8 RR: 26.8 </div>
                <div>Toe => FL: -0.03 FR: -0.03 RL: 0.03 RR: 0.03 </div>
                <div>Camber => FL: -3.4 FR: -3.4 RL: -3.4 RR: -3.4 </div>
                <div>Caster => FL: 12.7 FR: 12.7</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>- SETUP 03 -</div>
                <div>PSI => FL: 26.2 FR: 27.2 RL: 26.8 RR: 26.8 </div>
                <div>Toe => FL: -0.03 FR: -0.03 RL: 0.03 RR: 0.03 </div>
                <div>Camber => FL: -3.4 FR: -3.4 RL: -3.4 RR: -3.4 </div>
                <div>Caster => FL: 12.7 FR: 12.7</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>- SETUP 04 -</div>
                <div>PSI => FL: 26.2 FR: 27.2 RL: 26.8 RR: 26.8 </div>
                <div>Toe => FL: -0.03 FR: -0.03 RL: 0.03 RR: 0.03 </div>
                <div>Camber => FL: -3.4 FR: -3.4 RL: -3.4 RR: -3.4 </div>
                <div>Caster => FL: 12.7 FR: 12.7</div>
              </div>
              <div class="element-session-list bdr-btm-dash mx-1">
                <div>- SETUP 05 -</div>
                <div>PSI => FL: 26.2 FR: 27.2 RL: 26.8 RR: 26.8 </div>
                <div>Toe => FL: -0.03 FR: -0.03 RL: 0.03 RR: 0.03 </div>
                <div>Camber => FL: -3.4 FR: -3.4 RL: -3.4 RR: -3.4 </div>
                <div>Caster => FL: 12.7 FR: 12.7</div>
              </div>
            </div>

          </div>


        </div> <!-- Colonne 2 right -->


      </div> <!-- setup-groupe -->


      </div>

    <div class="col-lg-3 "> <!-- colonne de droite -->
      <div class="mt-2 p-1 rounded bg-cmmt">
        <div class="col-12 ">
          <div class="box-info">car</div>
          <div class="box-info">track</div>
          <div class="box-info">weather</div>
          <div class="box-info">condition</div>
          <div class="purple"><button class="w-100">New Comment</button></div>
        </div>

        <div class="scroller box-comment ft-cl-gr80 ">
          <div>
            <h6>SETUP 01</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint aperiam assumenda adipisci voluptatem quibusdam perferendis vel praesentium commodi fuga. Animi eius at et, voluptatem officiis
            </p>
          </div>
          <div>
            <h6>SETUP 02</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint aperiam assumenda adipisci voluptatem quibusdam perferendis vel praesentium commodi fuga. Animi eius at et, voluptatem officiis
            </p>
          </div>
          <div>
            <h6>SETUP 03</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint aperiam assumenda adipisci voluptatem quibusdam perferendis vel praesentium commodi fuga. Animi eius at et, voluptatem officiis
            </p>
          </div>


        </div>
      </div>


      </div> <!-- colonne de droite -->
  </div>
  <div class="row btn-bottom-bar purple"> <!--create new session-->
    <div class="d-flex justify-content-center align-items-center bg-black"><button class="col-lg-12 h-100"><h4>Create New Session</h4></button></div>
  </div> <!--create new session-->

</div>
