<div class="section container  ">
  <div class="session-view row ">
    <div class="col-lg-9  px-0">
      <div class="container-nav d-flex  align-items-center bg-black">
        <div class="red-r-border btn-nav-setup ">
          SETUP 01
        </div>
        <div class="btn-nav-setup ">
          NEW
        </div>
        <div class="btn-nav-setup ">
          MODIFY
        </div>
        <div class="btn-nav-setup ">
          DUPLICATE
        </div>
        <div class="btn-nav-setup ">
         SAVE
        </div>
      </div>
      <div class="form-setup-cont row m-0 bg-tr">
        <!-- setup-groupe -->

        <div class="col-lg-4 d-flex flex-column justify-content-arround bg-tr"> <!-- colonne 1 left -->
          <div class="bg-tr bd-with">
            <div class="d-flex justify-content-center mt-1">
              <h6>LEFT FRONT</h6>
            </div>
            <div class="row">
              <div class="">
                  <form>
                    <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">psi</label><input type="number"><div class="col-1 mx-2">psi</div></div>
                    <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">toe</label><input type="number" ><div class="col-1 mx-2">°</div></div>
                    <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">camber</label><input type="number" ><div class="col-1 mx-2">°</div></div>
                    <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">caster</label><input type="number" ><div class="col-1 mx-2">°</div></div>
                  </form>
              </div>
            </div>
          </div>

          <div class="bg-tr bd-with">
            <div class="d-flex justify-content-center mt-1">
              <h6>LEFT REAR</h6>
            </div>
            <div>
              <form>
                <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">psi</label><input type="number"><div class="col-1 mx-2">psi</div></div>
                <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">toe</label><input type="number" ><div class="col-1 mx-2">°</div></div>
                <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">camber</label><input type="number" ><div class="col-1 mx-2">°</div></div>
          </form>
            </div>
      </div>
        </div> <!-- colonne 1 left -->
        <div class="col-lg-4  d-flex flex-column align-items-center justify-content-arround bg-tr"> <!-- Colonne image voiture -->
          <div class="img-cage d-none d-lg-block">
            <img [src]="imageCarSrc" [alt]="imageCarAlt" class="img-fluid" />
          </div>
        </div> <!-- Colonne image voiture -->
        <div class="col-lg-4 d-flex flex-column justify-content-arround bg-tr"> <!-- Colonne 3 right -->
          <div class="bg-tr bd-with">
            <div class="d-flex justify-content-center mt-1">
              <h6>RIGHT FRONT</h6>
            </div>
            <div class="row">
              <div class="">
                  <form>
                    <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">psi</label><input type="number"><div class="col-1 mx-2">psi</div></div>
                    <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">toe</label><input type="number" ><div class="col-1 mx-2">°</div></div>
                    <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">camber</label><input type="number" ><div class="col-1 mx-2">°</div></div>
                    <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">caster</label><input type="number" ><div class="col-1 mx-2">°</div></div>
                  </form>
              </div>
            </div>
          </div>

          <div class="bg-tr bd-with">
            <div class="d-flex justify-content-center mt-1">
              <h6>RIGHT REAR</h6>
            </div>
            <div>
              <form>
                <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">psi</label><input type="number"><div class="col-1 mx-2">psi</div></div>
                <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">toe</label><input type="number" ><div class="col-1 mx-2">°</div></div>
                <div class="d-flex justify-content-between align-items-center "><label class="col-4 mx-2" for="name">camber</label><input type="number" ><div class="col-1 mx-2">°</div></div>
          </form>
            </div>

      </div>

        </div> <!-- Colonne 3 right -->


      </div> <!-- setup-groupe -->


      </div>

    <div class="col-lg-3 "> <!-- colonne de droite -->
      <div class="mt-2 p-1 rounded bg-cmmt">
        <div class="col-12 ">
          <div class="box-info">car</div>
          <div class="box-info">track</div>
          <div class="box-info">weather</div>
          <div class="box-info">condition</div>
          <div class="purple"><button class="w-100">New Comment</button></div>
        </div>

        <div class="scroller box-comment ft-cl-gr80 ">
          <div>
            <h6>SETUP 01</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint aperiam assumenda adipisci voluptatem quibusdam perferendis vel praesentium commodi fuga. Animi eius at et, voluptatem officiis
            </p>
          </div>
          <div>
            <h6>SETUP 02</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint aperiam assumenda adipisci voluptatem quibusdam perferendis vel praesentium commodi fuga. Animi eius at et, voluptatem officiis
            </p>
          </div>
          <div>
            <h6>SETUP 03</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint aperiam assumenda adipisci voluptatem quibusdam perferendis vel praesentium commodi fuga. Animi eius at et, voluptatem officiis
            </p>
          </div>


        </div>
      </div>


      </div> <!-- colonne de droite -->
  </div>
  <div class="row btn-bottom-bar purple"> <!--create new session-->
    <div class="d-flex justify-content-center align-items-center bg-black"><button class="col-lg-12 h-100"><h4>Create New Session</h4></button></div>
  </div> <!--create new session-->

</div>
